{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block content %} 
<h1>CODE SNIP</h1>
<h3>About</h3>
<p>Welcome to Code Snip, your go to platform for sharing , discovering, and managing code snippets! Whether a seasoned developer or just starting your coding journey, Code Snip is designed to make your life as a programmer easy and efficient.
    What is Code Snip?</p>
    <p>Code Snip is a straightforward and user-friendly application for creating, sharing, and discovering code snippets in a wide variety of programming languages and frameworks. This constitutes the vision for a collaborative platform where useful pieces of codes are accessed and contributed with ease by developers.</p>
    













{% endblock content %}