{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('{% static "bg image2.jpg" %}');">
    <div class="bg-white bg-opacity-75 p-8 rounded shadow-lg max-w-3xl">
        <h1 class="text-4xl font-bold text-blue-600 mb-6">CODE SNIP</h1>
        <h3 class="text-2xl font-bold text-gray-800 mb-4">About</h3>
        <p class="text-lg text-gray-700 mb-4">
            Welcome to Code Snip, your go-to platform for sharing, discovering, and managing code snippets! Whether you're a seasoned developer or just starting your coding journey, Code Snip is designed to make your life as a programmer easy and efficient.
        </p>
        <p class="text-lg text-gray-700 mb-6">
            Code Snip is a straightforward and user-friendly application for creating, sharing, and discovering code snippets in a wide variety of programming languages and frameworks. This constitutes the vision for a collaborative platform where useful pieces of code are accessed and contributed with ease by developers.
        </p>
        
        <h2 class="text-3xl font-bold text-blue-600 mb-4">FEATURES</h2>
        
        <h4 class="text-xl font-bold text-gray-800 mb-2">User Registration and Authentication</h4>
        <p class="text-lg text-gray-700 mb-4">
            Create an account, log in securely, and manage your profile. Our platform ensures your data is safe and accessible only to you.
        </p>
        
        <h4 class="text-xl font-bold text-gray-800 mb-2">User Profiles</h4>
        <p class="text-lg text-gray-700 mb-4">
            Personalize your profile with your bio and display your shared snippets. Connect with other developers and explore their contributions.
        </p>
        
        <h4 class="text-xl font-bold text-gray-800 mb-2">Snippet Management</h4>
        <p class="text-lg text-gray-700 mb-4">
            Easily create, edit, and delete your code snippets. Add titles, descriptions, and specify the programming language to keep your snippets organized.
        </p>
        
        <h4 class="text-xl font-bold text-gray-800 mb-2">Snippet Browsing</h4>
        <p class="text-lg text-gray-700 mb-4">
            Explore a wide range of snippets shared by the community. Use our powerful search and filter options to find exactly what you need.
        </p>
    </div>
</div>
{% endblock content %}
