{% extends 'base.html' %}
{% block title %}<title>Snippets</title>{% endblock title %}
{% block content %}
<div class="container mx-auto p-6">
    <h2 class="text-3xl font-bold text-yellow-700 mb-4">Snippets</h2>
    <form method="get" class="mb-6">
        <div class="flex items-center space-x-2">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search..." class="border border-gray-300 p-2 rounded w-full">
            <button type="submit" class="bg-yellow-700 hover:bg-amber-950 text-white font-bold py-2 px-4 rounded">Search</button>
        </div>
    </form>
    <ul class="list-disc pl-6">
        {% for snippet in snippets %}
            <li class="mb-2">
                <a href="{% url 'snippet_detail' snippet.pk %}" class="text-yellow-950 hover:underline font-bold">{{ snippet.language }}: {{ snippet.description }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
